header{  
    background-color: #ffffff;
    border-bottom: solid 1px #dddddd;
    width: 100%;
    position: absolute;
    top:0;
    padding: 20px;
    height: 80px;
}
.container{
    width: 960px;
    margin: auto;
}

a {
    text-decoration: none;
    border-bottom:0px none transparent;
    font-family: Georgia,'Times New Roman', Times, serif;
    color:#777777;
    font-size: x-large;
    margin:15px;
}

.links {
    float: right;
    display:block;
    padding: 20px;
    text-decoration: none;
    
  }
  .name{
    position: absolute;
    top: 0;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    width: 25%;
    height:80px;
    text-align: center;
    float: left;
    margin-left: 0;
  }

.selfie{
    float: left;
    margin-right: 20px;
    margin-top:11px;
}

.aboutme{
    color:#777777;
}
.body{
    width:960px;
    margin: 150px auto;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color:#ffffff;
    border: solid 1px #dddddd;
    padding: 20px;  
    overflow:auto;
}
form{
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;
    font-size: larger;
}
.heading2{
    color: #4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
textarea{
    width: 100%;
    height:150px;
    border: 1px solid #cccccc;
}
.submit{
    color:#ffffff;
    background-color: #4aaaa5;
    font-family: Georgia,'Times New Roman', Times, serif;
    width:20%;
    font-size:larger;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #666666;
    color: white;
    text-align: center;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    z-index: 5;
    }
input{
    width: 100%;
    border: 1px solid #cccccc;
    padding: 10px 0;
    box-sizing: border-box;
}
.gallery{
    margin:15px;
    float: left;
}

.label{
    position:absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    width: 400px;
    background-color:#4aaaa5;
    color: #ffffff;
    padding:10px 0 10px 0;
    text-align: center;
   
}
.relative{
    position:relative;
    overflow:auto;
    float:left;
}
.absolute{
    position: absolute;
    top: 140px;
    left:15px;
    z-index: 3;
}